*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #23424a;
    color: #fff;
    padding: 5rem;
}

.inner-content{
    width: 50%;

    & h1{
        font-size: 48px;
        margin-bottom: 1rem;
    }

    & p, & .btn {
        font-size: 21px;
        margin-bottom: 4rem;
    }

}

